<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
       padding-top: 56px;
       }
       /* 콘텐츠 영역 */
       .content-container {
           margin-left: 260px; /* 사이드바 폭 만큼 여백 추가 */
           padding: 20px;
       }
    </style>
</head>
<body>
<!-- Include the header -->
<header th:replace="~{layouts/admin_header.html}">Header Content</header>

<!-- Include the sidebar -->
<div th:replace="~{layouts/sidebar.html}"></div>

<!-- Main Content -->
<div class="content-container">
    <div class="container mt-4">
        <h1 class="mb-4">Recommended Hospitals</h1>
        <!-- Table to display Recommended Hospital data -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Institution Code</th>
                <th>Distance</th>
                <th>Duration</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through Recommended Hospital data -->
            <tr th:each="hospital : ${recommendHospitalList}">
                <td th:text="${hospital.id}"></td>
                <td th:text="${hospital.institutionCode.institutionCode}"></td>
                <td th:text="${hospital.distance}"></td>
                <td th:text="${hospital.duration}"></td>
                <td th:text="${hospital.departureTime}"></td>
                <td th:text="${hospital.arrivalTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Include the footer -->
<footer th:replace="~{layouts/footer.html}">Footer Content</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>