<div class="sidebar">
    <h3 class="text-center">Admin Menu</h3>
    <a href="/admin" class="d-block py-2 px-3 text-white text-decoration-none bg-dark">Main</a>
    <a href="/admin/input" class="d-block py-2 px-3 text-white text-decoration-none bg-dark">Input Data</a>
    <a href="/admin/advice" class="d-block py-2 px-3 text-white text-decoration-none bg-dark">Advice Data</a>
    <a href="/admin/recommend-hospital" class="d-block py-2 px-3 text-white text-decoration-none bg-dark">Recommended Hospitals</a>
</div>

<style>
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: #343a40;
        color: white;
        padding-top: 60px;
    }

    .sidebar a:hover {
        background-color: #495057;
    }
</style>
